body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

ul {
  margin-bottom: 0;
}

a {
  color: #3EA27C;
}

a:hover {
  color: #307d60;
}

.text-primary {
  color: #3EA27C !important;
}

.text-semi-bold {
  font-family: 'Montserrat';
  font-weight: 600;
}

.btn-primary {
  background-color: #3EA27C;
  border-color: #3EA27C;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #338667 !important;
  border-color: #338667 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

@media (min-width: 768px) {
  section {
    padding: 5px 0;
  }
}

@media (min-width: 1200px) {
  body .container {
    max-width: 960px;
  }
}

#mainNav {
  background-color: #fff;
  padding-top: 22px;
  padding-bottom: 22px;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #3EA27C;
  font-family: 'Montserrat';
  font-weight: 600;
}

#mainNav .navbar-brand {
  color: #3EA27C;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #307d60;
}

#mainNav .navbar-nav .nav-item-button {
  background-color: #3EA27C;
  border-radius: 28px;
  padding-left: 44px;
  padding-right: 44px;
  margin-top: 15px;
  height: 50px;
}

#mainNav .navbar-nav .nav-item-button.active, #mainNav .navbar-nav .nav-item-button:hover {
  background-color: #338667 !important;
}

#mainNav .navbar-nav .nav-item-button .nav-link {
  font-size: 14px;
  padding: 31px 0;
  letter-spacing: 0px;
  line-height: 18px;
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 600;
}

#mainNav .navbar-nav .nav-item-button .nav-link.active, #mainNav .navbar-nav .nav-item-button .nav-link:hover {
  color: #fff;
}

#mainNav .navbar-nav .nav-item {
  padding-left: 44px;
  padding-right: 44px;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  padding: 31px 0;
  letter-spacing: 0px;
  line-height: 18px;
  color: #3EA27C;
  font-family: 'Montserrat';
  font-weight: 600;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #338667 !important;
}

#mainNav.navbar-shrink {
  border-bottom: solid 1px #3EA27C;
}

@media (min-width: 992px) {
  #mainNav {
    padding: 0px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item-button .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav .navbar-nav .nav-item-button .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
    border-bottom-color: #3EA27C;
    border-bottom-width: 1px;
  }
}

@media (max-width: 991px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 0.75em 0;
  }
  #mainNav .navbar-nav .nav-item-button {
    margin-top: 0px;
    padding-top: 5px;
    width: min-content;
  }
  #mainNav .navbar-nav .nav-item-button .nav-link {
    padding: 0.75em 0;
  }
}

header.masthead {
  text-align: left;
  color: white;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text img {
  width: 298px;
  margin-bottom: 35px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
  font-family: 'Montserrat';
  font-weight: 600;
}

header.masthead .intro-text .intro-heading {
  padding: 0px;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Montserrat';
  font-weight: 400;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 153px;
    padding-bottom: 50px;
  }
}

#services {
  background: linear-gradient(to bottom, #3EA27C, #0C67A5);
  padding-top: 39.5px;
  padding-bottom: 40px;
}

#services a {
  font-size: 14px;
  line-height: 28px;
  color: #3EA27C;
  font-family: 'Montserrat';
  font-weight: 400;
}

#services .section-heading {
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  letter-spacing: 2px;
  padding-bottom: 39.5px;
  margin-bottom: 0px;
  font-family: 'Montserrat';
  font-weight: 600;
}

#services .services-info-text {
  margin: 0px;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 400;
}

#services .margin-advantage {
  margin-bottom: 79.5px;
}

#services .advantage {
  background-color: #fff;
  border-radius: 10px;
  max-height: 372px;
  overflow: auto;
}

#services .advantage img {
  max-width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#services .advantage .info {
  overflow-y: scroll;
  padding: 30px 20px;
}

#services .advantage .info .title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #3EA27C;
}

#services .advantage .info .title-secondary {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #0C67A5;
}

#services .advantage .info p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #2B2B2B;
}

.services-modal {
  padding-right: 0px !important;
}

.services-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.services-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.services-modal .modal-content h2 {
  font-size: 24px;
  margin-bottom: 30px;
  font-family: 'Montserrat';
  font-weight: 600;
  color: #3EA27C;
}

.services-modal .modal-content p {
  margin-bottom: 30px;
}

.services-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.services-modal .modal-content ul.list-inline li {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #2B2B2B;
  margin-bottom: 20px;
}

.services-modal .modal-content button {
  cursor: pointer;
}

.services-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.services-modal .close-modal:hover {
  opacity: 0.3;
}

.services-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 50px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #449F7C;
}

.services-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 50px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #449F7C;
}

@media (max-width: 991px) {
  #services .advantage {
    max-height: 100%;
  }
  #services .advantage img {
    display: none;
  }
}

#mission {
  background: #fff;
  padding-top: 39.5px;
  padding-bottom: 40px;
}

#mission .box {
  border-radius: 10px;
  box-shadow: 0 4px 11px #e5e5e5;
  padding: 30px;
  max-height: 440px;
  min-height: 440px;
  overflow-y: hidden;
}

#mission .box img {
  margin-bottom: 30px;
}

#mission .box .title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  color: #0C67A5;
  line-height: 29px;
  margin-bottom: 30px;
}

#mission .box .text-mission {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #2B2B2B;
  margin: 0px;
}

@media (max-width: 991px) {
  #mission .box {
    min-height: 522px;
  }
}

@media (max-width: 768px) {
  #mission .box {
    min-height: auto;
  }
}

@media (max-width: 480px) {
  #mission .box {
    min-height: 550px;
    overflow-y: visible;
  }
}

@media (max-width: 320px) {
  #mission .box {
    min-height: 655px;
    overflow-y: visible;
  }
}

@media (max-width: 270px) {
  #mission .box {
    min-height: 691px;
    overflow-y: visible;
  }
}

#technology {
  background: #3EA27C;
  padding-top: 39.5px;
  padding-bottom: 41px;
}

#technology .section-heading {
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  letter-spacing: 2px;
  padding-bottom: 39.5px;
  margin-bottom: 0px;
  font-family: 'Montserrat';
  font-weight: 600;
}

#technology .technology-info-text {
  margin: 0px;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 400;
}

#technology .box img {
  margin: 30px 0px;
  width: 90px;
  height: 90px;
}

#technology .box p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 0;
}

#customers {
  background: #EAEAEA;
  padding-top: 39.5px;
  padding-bottom: 41px;
}

#customers img {
  padding: 10px 0px;
}

#customers .section-heading {
  font-size: 24px;
  line-height: 29px;
  color: #A6A6A6;
  letter-spacing: 2px;
  padding-bottom: 39.5px;
  margin-bottom: 0px;
  font-family: 'Montserrat';
  font-weight: 600;
}

#customers img {
  margin-right: 21.22px;
}

section#review {
  text-align: left;
  color: white;
  background-image: url("../img/about/review.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  padding-bottom: 40px;
  padding-top: 40px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section#review .section-heading {
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
}

section#review .review-info-text {
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

section#review .image-logo {
  width: 191px;
  height: 45px;
  margin-top: 84%;
}

@media (max-width: 991px) {
  section#review .image-logo {
    margin-top: 145%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  section#review .image-logo {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

#testimonies {
  background: #fff;
  padding-top: 39.5px;
  padding-bottom: 40px;
}

#testimonies .section-heading {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  color: #0C67A5;
  line-height: 29px;
  margin-bottom: 30px;
}

#testimonies .box {
  border-radius: 10px;
  box-shadow: 0 4px 11px #e5e5e5;
  padding: 30px 20px;
  max-height: 460px;
  overflow-y: hidden;
  min-height: 411px;
}

#testimonies .box img {
  width: 95px;
  height: 95px;
  margin-bottom: 30px;
  border-radius: 50%;
}

#testimonies .box .title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  color: #0C67A5;
  line-height: 29px;
  margin-bottom: 30px;
}

#testimonies .box .text-testimonies {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #2B2B2B;
  margin-bottom: 30px;
  min-height: 140px;
}

#testimonies .box .name-testimony {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #0C67A5;
  margin: 0px;
}

#testimonies .box .company-testimony {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #0C67A5;
  margin: 0px;
}

@media (max-width: 991px) {
  #testimonies .box {
    min-height: 460px;
  }
  #testimonies .box .text-testimonies {
    min-height: 196px;
  }
}

@media (max-width: 768px) {
  #testimonies .box {
    min-height: auto;
  }
  #testimonies .box .text-testimonies {
    min-height: auto;
  }
}

@media (max-width: 320px) {
  #testimonies .box {
    overflow-y: visible;
    min-height: 628px;
  }
}

section#timeline {
  position: relative;
  position: relative;
  padding: 50px 0;
  list-style: none;
  background-image: url(../img/logos/fix4u-gray.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-origin: content-box;
  background-position: 257px center;
}

section#timeline .timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

section#timeline .timeline ul {
  margin-bottom: 0px;
}

section#timeline .timeline:before {
  height: 81%;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 23px;
  width: 2px;
  content: '';
  background-color: #3EA27C;
}

section#timeline .timeline > li {
  position: relative;
}

section#timeline .timeline > li:after, section#timeline .timeline > li:before {
  display: table;
  content: ' ';
}

section#timeline .timeline > li:after {
  clear: both;
}

section#timeline .timeline > li .timeline-panel {
  position: relative;
  float: left;
  width: 100%;
  text-align: left;
}

section#timeline .timeline > li .timeline-panel:before {
  right: auto;
  border-right-width: 15px;
  border-left-width: 0;
}

section#timeline .timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

section#timeline .timeline > li .top {
  top: 10px;
}

section#timeline .timeline > li .timeline-circle-inactive {
  position: absolute;
  z-index: 100;
  left: 13px;
  width: 23px;
  height: 23px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 3px solid #3EA27C;
  border-radius: 100%;
  background-color: #fff;
}

section#timeline .timeline > li .timeline-circle-inactive h4 {
  color: #3EA27C;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Montserrat';
  font-weight: 400;
}

section#timeline .timeline > li .timeline-circle-inactive:hover {
  background-color: #3EA27C;
}

section#timeline .timeline > li .timeline-circle {
  position: absolute;
  z-index: 100;
  left: 13px;
  width: 23px;
  height: 23px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 3px solid #3EA27C;
  border-radius: 100%;
  background-color: #3EA27C;
}

section#timeline .timeline > li .timeline-circle h4 {
  color: #3EA27C;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Montserrat';
  font-weight: 400;
}

section#timeline .timeline > li.timeline-inverted > .timeline-panel {
  float: left;
  padding: 0 0px 60px 76px;
  text-align: left;
}

section#timeline .timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

section#timeline .timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

section#timeline .timeline > li.timeline-inverted > .timeline-panel-bottom {
  float: left;
  padding: 0 0px 60px 76px;
  padding-bottom: 0px;
  text-align: left;
}

section#timeline .timeline > li.timeline-inverted > .timeline-panel-bottom:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

section#timeline .timeline > li.timeline-inverted > .timeline-panel-bottom:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

section#timeline .timeline > li:last-child {
  margin-bottom: 0;
}

section#timeline .timeline .timeline-heading h4 {
  color: #3EA27C;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Montserrat';
  font-weight: 400;
}

section#timeline .timeline .timeline-heading h4.subheading {
  text-transform: none;
}

section#timeline .timeline .timeline-heading-bold h4 {
  color: #3EA27C;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Montserrat';
  font-weight: 600;
}

section#timeline .timeline .timeline-heading-bold h4.subheading {
  text-transform: none;
}

section#timeline .timeline .timeline-body > ul,
section#timeline .timeline .timeline-body > p {
  margin-bottom: 0;
}

section#timeline .text-timeline span {
  color: #3EA27C;
  font-size: 14px;
  line-height: 28px;
  font-family: 'Montserrat';
  font-weight: 400;
}

section#timeline .hidden {
  display: none;
}

section#timeline .show {
  display: block;
}

@media (max-width: 991px) {
  section#timeline .timeline:before {
    height: 87%;
  }
}

section#contact {
  background-color: #3EA27C;
  padding-bottom: 30px;
  padding-top: 39.5px;
}

section#contact .container-user {
  margin-bottom: 0px;
  text-align: left;
}

section#contact .center-info {
  text-align: left;
}

section#contact .info-company {
  text-align: left;
}

section#contact .section-heading {
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  font-family: 'Montserrat';
  margin-bottom: 29.5px;
}

section#contact .image-user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

section#contact .image-logo {
  width: 191px;
  height: 45px;
  margin-top: 11%;
}

section#contact .margin-info {
  margin-top: 50px;
}

section#contact .text-name {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  font-family: 'Montserrat';
  font-weight: 600;
  margin-bottom: 0;
}

section#contact .text-ocupation {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  font-family: 'Montserrat';
  margin-bottom: 0;
}

section#contact .text-info-user {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  font-family: 'Montserrat';
  margin-bottom: 0;
}

section#contact .icon-info-user {
  color: #fff;
  margin: 5px 11px 0px 15px;
}

ul.social-buttons {
  margin-bottom: 10px;
}

ul.social-buttons li a {
  color: white;
  outline: none;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #3EA27C;
}

ul.social-buttons li a i {
  color: white;
  margin-right: 20px;
  font-size: 24px;
}

ul.social-buttons li a i:hover {
  color: #338667 !important;
}

@media (max-width: 768px) {
  section#contact .container-user {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  section#contact .container-user {
    text-align: center;
  }
  section#contact .center-info {
    text-align: center;
    display: block;
  }
  section#contact .image-logo {
    margin-top: -18%;
  }
  section#contact .margin-info {
    margin-top: 50px;
  }
  section#contact .container-company {
    margin-bottom: 0px;
    text-align: center;
  }
}
