// Styling for the contact section
section#contact {
  background-color: $primary;
  padding-bottom: 30px;
  padding-top: 39.5px;
  .container-user {
    margin-bottom: 0px;
    text-align: left;
  }
  .center-info {
    text-align: left;
    // display: block;
  }
  .info-company{
    text-align: left;
  }
  
  .section-heading {
    color: $white;
    font-size: 24px;
    line-height: 29px;
    @include only-montserrat;
    margin-bottom: 29.5px;
  }
  .image-user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .image-logo {
    width: 191px;
    height: 45px;
    margin-top: 11%;
  }
  .margin-info {
    margin-top: 50px;
  }
  .text-name {
    color: $white;
    font-size: 14px;
    line-height: 28px;
    @include montserrat-semi-bold;
    margin-bottom: 0;
  }
  .text-ocupation {
    color: $white;
    font-size: 14px;
    line-height: 28px;
    @include only-montserrat;
    margin-bottom: 0;
  }
  .text-info-user {
    color: $white;
    font-size: 14px;
    line-height: 28px;
    @include only-montserrat;
    margin-bottom: 0;
  }
  .icon-info-user {
    color: $white;
    margin: 5px 11px 0px 15px;
  }
}
ul.social-buttons {
  margin-bottom: 10px;
  li {
    a {
      color: white;;
      outline: none;
      &:active,
      &:focus,
      &:hover {
        background-color: $primary;
      }
      i{
        color: white;
        margin-right: 20px;
        font-size: 24px;
        &:hover {
          color: darken($primary, 7.5%) !important;
        }
      }
    }
  }
}


@media(max-width:768px) {
  section#contact {
    .container-user {
      margin-bottom: 30px;
    }
  }
}
@media(max-width:576px) {
  section#contact {

    .container-user {
    
      text-align: center;
    }
    .center-info {
      text-align: center;
      display: block;
    }
    .image-logo {
      margin-top: -18%;
    }
    .margin-info {
      margin-top: 50px;
    }
    .container-company {
      margin-bottom: 0px;
      text-align: center;
    }
  
  
  }
}

