#customers {

	background: $customers;
	padding-top: 39.5px;
	padding-bottom: 41px;
	img{
		padding: 10px 0px;
	}
	.section-heading{
		font-size: 24px;
		line-height: 29px;
		color: $text-customers;
		letter-spacing: 2px; //en dise;os es normal
		padding-bottom: 39.5px;
		margin-bottom: 0px;
		@include montserrat-semi-bold;
	}
	img {
		margin-right: 21.22px;
	}
}