// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

.no-padding {
  padding: 0px;
}
.no-margin {
  margin: 0px;
}

ul {
  margin-bottom: 0;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}
.text-semi-bold {
  @include montserrat-semi-bold;
}
.btn-primary {
  background-color: $primary;
  border-color: $primary;
  @include montserrat-regular;
  font-size: 14px;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
    // padding: 5px 0;
   }
 &:active,
 &:focus {
   box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
 }
}

@media(min-width:768px) {
  section {
    padding: 5px 0;
  }
}

@media (min-width: 1200px){
  body {
    .container {
        max-width: 960px;
    }
  }
}