// Styling for the masthead
header.masthead {
  text-align: left;
  color: white;
  background-image: url('../img/header-bg.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    img {
      width: 298px;
      margin-bottom: 35px;
    }
    .intro-lead-in {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 30px;
      @include montserrat-semi-bold;
    }
    .intro-heading {
      padding: 0px; 
      font-size: 14px;
      line-height: 24px;
      @include montserrat-regular;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 153px;
      padding-bottom: 50px;
    }
  }
}
