#mission {

	background: $white;
	padding-top: 39.5px;
	padding-bottom: 40px;

	
	.box {
		border-radius: 10px;
		box-shadow: 0 4px 11px #e5e5e5;
		padding: 30px;
		max-height: 440px;
		min-height: 440px;
		overflow-y: hidden; 

		img {
			margin-bottom: 30px;
		}
		.title {
			@include montserrat-semi-bold;
			font-size: 24px;
			color: $secondary;
			line-height: 29px;
			margin-bottom: 30px;
		}
		.text-mission{
			@include montserrat-regular;
			font-size: 14px;
			line-height: 28px;
			color: $gray-text;
			margin: 0px;
		}
	}
}
@media(max-width:991px) {
	#mission {
		.box {

			min-height: 522px;
		}
	}
}
@media(max-width:768px) {
	#mission {
		.box {

			min-height: auto;
		}
	}
}
@media(max-width:480px) {
	#mission {
		.box {

			min-height: 550px;
    		overflow-y: visible;
		}
	}
}
@media(max-width:320px) {
	#mission {
		.box {

			min-height: 655px;
    		overflow-y: visible;
		}
	}
}
@media(max-width:270px) {
	#mission {
		.box {

			min-height: 691px;
    		overflow-y: visible;
		}
	}
}