// Styling for the navbar
#mainNav {
  background-color: $white;
  padding-top: 22px;
  padding-bottom: 22px;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $primary;
    @include montserrat-semi-bold;
  }
  .navbar-brand {
    color: $primary;
    @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
  }
  .navbar-nav {
    .nav-item-button {
      background-color: $primary;
      border-radius: 28px;
      padding-left: 44px;
      padding-right: 44px;
      margin-top: 15px;
      height: 50px;

      &.active,
        &:hover {
          background-color: darken($primary, 7.5%) !important;
        }
      .nav-link {
        font-size: 14px;
        padding: 31px 0;
        letter-spacing: 0px;
        line-height: 18px;
        color: $white;
        @include montserrat-semi-bold;
        &.active,
        &:hover {
          color: $white;
        }
      }
    }
    .nav-item {
      padding-left: 44px;
      padding-right: 44px;
      .nav-link {
        font-size: 14px;
        padding: 31px 0;
        letter-spacing: 0px;
        line-height: 18px;
        color: $primary;
        @include montserrat-semi-bold
        &.active,
        &:hover {
          color: darken($primary, 7.5%) !important;
        }
      }
    }
  }
  &.navbar-shrink {
  
    border-bottom: solid 1px $primary;
  }
}
@media(min-width:992px) {
  #mainNav {
    padding: 0px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    // background-color: transparent;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item-button {
        .nav-link {
          padding: 1.1em 1em !important;
      }
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
  }

    &.navbar-shrink {
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
        border-bottom-color: $primary;
        border-bottom-width: 1px;
      }
    }
  }
}
@media(max-width:991px) {
  #mainNav {
   
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 0.75em 0;
        }
      }
      .nav-item-button {
    
        margin-top: 0px;
        padding-top: 5px;
        width: min-content;
        .nav-link {
          padding: 0.75em 0;
        
        }
      }     
    }
  }
}

