section#review {  text-align: left;
  color: white;
  background-image: url('../img/about/review.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  padding-bottom: 40px;
  padding-top: 40px;
  @include background-cover;
 .section-heading {
	 	color: $white;
	 	@include montserrat-semi-bold;
	 	font-size: 24px;
	 	line-height: 29px;
	 	margin-bottom: 30px;
 }
 .review-info-text {
 		color: $white;
	 	@include montserrat-regular;
	 	font-size: 14px;
	 	line-height: 28px;
 }
  .image-logo {
    width: 191px;
    height: 45px;
    margin-top: 84%;
  }
}
@media(max-width:991px) {
	section#review {  
	  .image-logo {
	    margin-top: 145%;
	    margin-bottom: 20px;
	  }
	}
}
@media(max-width:768px) {
	section#review {  
	  .image-logo {
	    margin-top: 0px;
	    margin-bottom: 20px;
	  }
	}
}
