#services {
	background: linear-gradient(to bottom, $primary, $secondary);
	padding-top: 39.5px;
	padding-bottom: 40px;

	a{
		font-size: 14px;
		line-height: 28px;
		color: $primary;
		@include montserrat-regular;
	}
	.section-heading{
		font-size: 24px;
		line-height: 29px;
		color: $white;
		letter-spacing: 2px;
		padding-bottom: 39.5px;
		margin-bottom: 0px;
		@include montserrat-semi-bold;
	}
	.services-info-text{
		margin: 0px;
		padding-bottom: 30px;
		font-size: 14px;
		line-height: 28px;
		color: $white;
		@include montserrat-regular;
	}
	.margin-advantage {
		margin-bottom: 79.5px;
	}
	.advantage {
		background-color: $white;
		border-radius: 10px;
		max-height: 372px;
		overflow: auto;

		img {
			max-width: 100%;
    	height: 100%;
    	border-top-left-radius: 10px;
    	border-bottom-left-radius: 10px;
		}

		.info {
      overflow-y: scroll;

			padding: 30px 20px;
			.title {
				@include montserrat-semi-bold;
				font-size: 18px;
				line-height: 22px;
				color: $primary;
			}
			.title-secondary {
				@include montserrat-semi-bold;
				font-size: 18px;
				line-height: 22px;
				color: $secondary;
			}
			p{
				@include montserrat-regular;
				font-size: 14px;
				line-height: 28px;
				color: $gray-text;
			}

		}

	}
}
.services-modal {
  padding-right: 0px !important;
  .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  .modal-content {
    padding: 100px 0;
    text-align: center;
    h2 {
      font-size: 24px;
      margin-bottom: 30px;
      @include montserrat-semi-bold;
      color: $primary;

    }
    p {
      margin-bottom: 30px;
    }
    ul.list-inline {
      margin-top: 0;
      margin-bottom: 30px;
      li {
      	@include montserrat-regular;
				font-size: 14px;
				line-height: 28px;
				color: $gray-text;
				margin-bottom: 20px;
      }
    }
    button {
      cursor: pointer;
    }
  }
  .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      opacity: 0.3;
    }
    .lr {
      /* Safari and Chrome */
      z-index: 1051;
      width: 1px;
      height: 50px;
      margin-left: 35px;
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: $gray-900;
      .rl {
        /* Safari and Chrome */
        z-index: 1052;
        width: 1px;
        height: 50px;
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background-color: $gray-900;
      }
    }
  }
  .modal-backdrop {

  }
}

@media(max-width:991px) {
  #services {
    .advantage {

      max-height: 100%;
      img {
        display: none;
      }
    }
  }
}


