#technology {

	background: $primary;
	padding-top: 39.5px;
	padding-bottom: 41px;
	.section-heading{
			font-size: 24px;
			line-height: 29px;
			color: $white;
	
			letter-spacing: 2px; //en dise;os es normal
			padding-bottom: 39.5px;
			margin-bottom: 0px;
			@include montserrat-semi-bold;
		}
		.technology-info-text{
			margin: 0px;
			font-size: 14px;
			line-height: 28px;
			color: $white;
			@include montserrat-regular;
		}

		.box {
			img{
				margin: 30px 0px;
				width: 90px;
				height: 90px;
			}
			p{
				@include montserrat-regular;
				font-size: 14px;
				line-height: 28px;
				color: $white;
				margin-bottom: 0;
			}
		}
}