// Styling for the masthead
#testimonies {

	background: $white;
	padding-top: 39.5px;
	padding-bottom: 40px;
	.section-heading{
		@include montserrat-semi-bold;
		font-size: 24px;
		color: $secondary;
		line-height: 29px;
		margin-bottom: 30px;
	}
	.box {
		border-radius: 10px;
		box-shadow: 0 4px 11px #e5e5e5;
		padding: 30px 20px;
		max-height: 460px;
		overflow-y: hidden;
		min-height: 411px;


		img {
			width: 95px;
			height: 95px;
			margin-bottom: 30px;
			border-radius: 50%;

		}
		.title {
			@include montserrat-semi-bold;
			font-size: 24px;
			color: $secondary;
			line-height: 29px;
			margin-bottom: 30px;
		}
		.text-testimonies{
			@include montserrat-regular;
			font-size: 14px;
			line-height: 28px;
			color: $gray-text;
			margin-bottom: 30px;
			min-height: 140px;
		}
		.name-testimony{
			@include montserrat-regular;
			font-size: 14px;
			line-height: 28px;
			color: $secondary;
			margin: 0px;
		}
		.company-testimony{
			@include montserrat-regular;
			font-size: 14px;
			line-height: 28px;
			color: $secondary;
			margin: 0px;
		}
	}
}
@media(max-width:991px) {
	#testimonies {
		.box {

			min-height: 460px;
			.text-testimonies{
				min-height: 196px;
			}
		}
	}
}
@media(max-width:768px) {
	#testimonies {
		.box {

			min-height: auto;
			.text-testimonies{
				min-height: auto;
			}
		}
	}
}
@media(max-width:320px) {
#testimonies {
		.box {
			overflow-y: visible;
    		min-height: 628px;
		}
	}
}
