
section#timeline { 
  position: relative;
  position: relative;
  padding: 50px 0;
  list-style: none;
  background-image: url(../img/logos/fix4u-gray.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-origin: content-box;
  background-position: 257px center;
  .timeline {
    position: relative;
    padding: 0;
    list-style: none;
    // background-image: url('../img/logos/fix4u-gray.png');
    // background-repeat: no-repeat;
    ul {
      margin-bottom: 0px;
    }
    &:before {
      height: 81%;
      position: absolute;
      top: 10px;
      bottom: 0;
      left: 23px;
      width: 2px;
      //margin-left: -1.5px;
      content: '';
      background-color: $primary;
    }
    > li {
      position: relative;
      &:after,
      &:before {
        display: table;
        content: ' ';
      }
      &:after {
        clear: both;
      }
      .timeline-panel {
        position: relative;
        float: left;
        width: 100%;
        // padding: 0 20px 0 100px;
        text-align: left;
        &:before {
          right: auto;
          // left: -15px;
          border-right-width: 15px;
          border-left-width: 0;
        }
        &:after {
          right: auto;
          left: -14px;
          border-right-width: 14px;
          border-left-width: 0;
        }
      }
      .top {
        top: 10px;
      }
      .timeline-circle-inactive {
        // top: 10px;
        position: absolute;
        z-index: 100;
        left: 13px;
        width: 23px;
        height: 23px;
        margin-left: 0;
        text-align: center;
        color: white;
        border: 3px solid $primary;
        border-radius: 100%;
        background-color: $white;
        h4 {
          color: $primary;
          font-size: 18px;
          line-height: 24px;
          // margin-top: 12px;
          @include montserrat-regular;
        }
        &:hover {
          background-color: $primary;
        }
      }
      .timeline-circle {
        // top: 10px;
        position: absolute;
        z-index: 100;
        left: 13px;
        width: 23px;
        height: 23px;
        margin-left: 0;
        text-align: center;
        color: white;
        border: 3px solid $primary;
        border-radius: 100%;
        background-color: $primary;
        h4 {
          color: $primary;
          font-size: 18px;
          line-height: 24px;
          // margin-top: 12px;
          @include montserrat-regular;
        }
      }
      &.timeline-inverted > .timeline-panel {
        float: left;
        padding: 0 0px 60px 76px;
        text-align: left;
        &:before {
          right: auto;
          left: -15px;
          border-right-width: 15px;
          border-left-width: 0;

        }
        &:after {
          right: auto;
          left: -14px;
          border-right-width: 14px;
          border-left-width: 0;
        }
      }
      &.timeline-inverted > .timeline-panel-bottom {
        float: left;
        padding: 0 0px 60px 76px;
        padding-bottom: 0px;
        text-align: left;
        &:before {
          right: auto;
          left: -15px;
          border-right-width: 15px;
          border-left-width: 0;

        }
        &:after {
          right: auto;
          left: -14px;
          border-right-width: 14px;
          border-left-width: 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .timeline-heading {
      h4 {
        // margin-top: -14px;
        color: $primary;
        font-size: 18px;
        line-height: 22px;
        @include montserrat-regular;
        &.subheading {
          text-transform: none;
        }
      }
    }
    .timeline-heading-bold {
      h4 {
        // margin-top: -14px;
        color: $primary;
        font-size: 18px;
        line-height: 22px;
        @include montserrat-semi-bold;
        &.subheading {
          text-transform: none;
        }
      }
    }
    .timeline-body {
       > ul,
      > p {
        margin-bottom: 0;
      }
    }
  }
  .text-timeline {
    span{
      color: $primary;
      font-size: 14px;
      line-height: 28px;
      // margin-top: 12px;
      @include montserrat-regular;}
    }

  .hidden {
    display: none;
  }
  .show{
    display: block;
  }
}
@media(max-width:991px) {
  
  section#timeline { 
   
    .timeline {
      &:before {
        height: 87%;
      }
    }
  }
}
