// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #449F7C !default;
$gray-text: #2B2B2B;
$black: #000 !default;

$primary: #3EA27C !default;
$secondary: #0C67A5;
$customers: #EAEAEA;
$text-customers: #A6A6A6;
